<footer>
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12 col-md-4 center-xs">
                <ul>
                    <h3>Nosotros</h3>
                    <li>
                        <a routerLink="">Quienes somos</a>
                    </li>
                    <li>
                        <a routerLink="">Nuestra Historia</a>
                    </li>
                    <li>
                        <a routerLink="">Equipo de trabajo</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 center-xs">
                <ul>
                    <h3>Productos</h3>
                    <li>
                        <a routerLink="">Nuevos Productos</a>
                    </li> 
                    <li>
                        <a routerLink="">Los Mas Vendidos</a>
                    </li>
                    <li>
                        <a routerLink="">Mas Populares</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 center-xs">
                <ul>
                    <h3>Contactanos</h3>
                    <li>
                        <a routerLink="">Facebook</a>
                    </li> 
                    <li>
                        <a routerLink="">Youtube</a>
                    </li>
                    <li>
                        <a routerLink="">Correo electronico</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>