<h1 class="text-align-center">Detalle de producto</h1>
<div class="container" *ngIf='product'>
    <mat-card>
        <mat-card-header>
            <mat-card-title class="titles">{{ product.title }}</mat-card-title>
            <mat-card-subtitle class="subtitles">{{ product.price | currency }} </mat-card-subtitle>
        </mat-card-header>
        <div>
            <img [src]="product.image" alt="imagen de producto" style="width: 80%;">
        </div>
        <mat-card-content>
            <p> {{product.description}} </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="updateProduct()">Actualizar</button>
            <button mat-button color="warn" (click)="deleteProduct()">Eliminar</button>
        </mat-card-actions>
    </mat-card>
    <!-- <div *ngIf='product'>
        <div>
            <h2>Nombre: {{ product.title }}</h2>
            <h2>Precio: {{ product.price | currency }} </h2>
        </div>
        <button (click)="createProd()">Crear</button>
        <button (click)="updateProduct()">Actualizar</button>
        <button (click)="deleteProduct()">Eliminar</button>
    </div> -->
</div>